<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ollama Chatbot</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
  </head>
  <body>
    <div id="chat-container">
      <div id="chat-box"></div>
      <div id="input-container">
        <input type="text" id="user-input" placeholder="Type a message..." />
        <button id="recordStopButton"></button>
        <button id="send-button">Send</button>
      </div>
    </div>
    <!-- <h1 class="wrapper-header">Anxiety Meter</h1> -->
    <div class="wrapper">
      <div class="gauge">
        <div class="slice-colors">
          <div class="st slice-item"></div>
          <div class="st slice-item"></div>
          <div class="st slice-item"></div>
          <div class="st slice-item"></div>
          <div class="st slice-item"></div>
        </div>
        <div class="needle" id="gauge-needle"></div>
        <div class="gauge-center"></div>
      </div>
      <div class="gauge-labels">
        <span class="min-label">0</span>
        <span class="max-label">100</span>
      </div>
    </div>
    <script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
    <script>
      var speakerIconUrl =
        "{{ url_for('static', filename='images/speaker-icon.png') }}";
    </script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
  </body>
</html>
